.widget-profile,
.widget-stat-card,
.widget-chart{
    display: block;
    position: relative;
    margin-bottom: 40px;
    padding: 15px 20px;
    background: rgba(0,0,0, 0.24); /*TODO consider bumping the opacity up to 0.6 and using a custom team background image on the body */
    border-radius: 10px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.1), 0 0 15px rgba(0,0,0,0.06);
    min-height: 150px;
}

.widget-top-overflow,
.widget-top-overflow>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.widget-top-overflow{
    margin: -15px -20px;
    overflow: hidden;
    position: relative;
}
.widget-icon {
    opacity: 0.5;
    font-size: 42px;
    height: 60px;
    line-height: 45px;
    display: inline-block;
}
.text-primary{
    color: #4e85bd;
}
.profile-container{
    margin-top: -75px;
}
.profile-img-container{
    margin: 50px auto;
}
.profile-img{
    border: 2px solid #eee;
    margin: 0 auto;
}
/*
.profile-bg{
    background-image: url(../img/jacksonville-jaguars-wallpapers.jpg);
    background-color: #414e60;
    background-size: cover;
    padding: 0;
    margin: -15px -20px -20px -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
        
} */

.stats-container {
    margin-bottom: 11em;
}
.stats-row{
    margin-bottom: 1.25em;
}

.stat-item{
    display: inline-block;
    border-left: none;
    padding-right: 0;
}
.stat-val{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
    
}
.stat-label{
    margin-bottom: 0.25em;
    font-size: 0.875em;
}

.separator{
    border-left: 1px solid #eee;
    height: 55px;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.height-250{
    height: 250px;
}
.overflow-hidden{
    overflow: hidden;
}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-nowrap.row{
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
}
.m-0{
    margin: 0;
}
.col-3, 
.col-6,
.col-9,
.col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%
}

.value5{
    font-size: 2.05rem;
}

.stats-chart {
    height: 350px;
}


